# Python basics  , Data structure


# List

### Functions
    # append
    # clear
    # copy
    # count
    # extend
    # index
    # insert
    # pop
    # remove
    # reverse
    # sort

### 1.Append   , Add additional data to the list

In [3]:
l = [1,2,3,4,5]

# It can add only one data

l.append(6)            # l.append(value)   # Value can be string , number or object etc,

print(l)

#Result = [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

### 2.Clear  , Clear entire data in the list

In [10]:
l = [1,2,3,4,5]

l.clear()            # l.clear(no arguments)
print(l)

# Result = []

[]

### 3.Copy , Copy the list and use as required

In [13]:
l = [1,2,3,4,5]

i = l.copy()            # l.copy(no arguments)
print(i)

# Result = [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

### 4.Count  , Count the time of repeted values in the list

In [25]:
l = [1,2,3,4,5,3]

i = l.count(3)            # l.count(value)
print(i)

# Result = 2

2

### 5.Extend , Add one or more values

In [23]:
l = [1,2,3,4,5]

# Value should be inside th square bracket

l.extend([6,7,8])            # l.extend([values])
print(l)

# Result = [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

### 6.Index , Find index of the value

In [26]:
l = [1,2,3,4,5]

print(l.index(5))           # l.index(value)

#Result = 4

4

### 7.Insert  , Insert data in specific place using index number

In [48]:
l = [1,2,3,4,5]

l.insert(0,'one')           # l.index(index,value)
print(l)

#Result = ['one', 1, 2, 3, 4, 5]   # After the inserted,Element are shifted by one index to the right side.

['one', 1, 2, 3, 4, 5]

### 8.Pop  , Delete data in the list using index

In [41]:
l = ['Apple','Orange','Grapes','Banana']

l.pop()           # l.pop(index)
print(l)

# If index not given ,It will delete last data in the list

#Result = ['Apple', 'Orange', 'Grapes']

['Apple', 'Orange', 'Grapes']

In [54]:
l = ['Apple','Orange','Grapes','Banana']

l.pop(1)           # l.pop(index)
print(l)

# If index not given ,It delete last data in the list

#Result = ['Apple', 'Grapes', 'Banana']

['Apple', 'Grapes', 'Banana']

### 9.Remove  , Delete data in the list using value

In [52]:
l = ['Apple','Orange','Grapes','Banana']

l.remove('Apple')           # l.remove(value)
print(l)

#Result = ['Orange', 'Grapes', 'Banana']

['Orange', 'Grapes', 'Banana']

### 10.Reverse  , Reverse the datas in the list

In [56]:
l = ['Apple','Orange','Grapes','Banana']

l.reverse()           # l.reverse()
print(l)

#Result = ['Banana', 'Grapes', 'Orange', 'Apple']

['Banana', 'Grapes', 'Orange', 'Apple']

### 11.Sort  , Sorted in accending order (0-9,(A-Z)

In [61]:
l = ['Apple','Orange','Grapes','Banana']

l.sort()           # l.sort()
print(l)

#Result = ['Apple', 'Banana', 'Grapes', 'Orange']

['Apple', 'Banana', 'Grapes', 'Orange']

[1, 2, 3, 4, 7]

In [1]:
l = [1,3,2,7,4,6,5]

l.sort()           # l.sort()
print(l)

#Result = [1, 2, 3, 4, 5, 6, 7]     # Sorted in accending order, it also can sort in descending order using various function

[1, 2, 3, 4, 5, 6, 7]

# Tuple
# Functions
    # Count
    # Index

### 1.Count  , Count the time of repeted values in the tuple

In [11]:
t = (1,2,3,4,5,3,7)

t1 = t.count(3)            # t.count(value)
print(t1)

# Result = 2               # 3 repeted 2 time in the tuple

2

### 2.Index  , Find index of the value

In [9]:
t = (1,2,3,4,5)

t1 = t.index(3)            # t.index(value)
print(t1)

# Result = 2               # index of 3 is 2.

2